
<div id="masthead">
  <img src="/assets/images/logo.png" class="logo" height="100px" alt="logo">
  <h1>Housing</h1>
</div><!--closing div for masthead-->

<div id="navbar" class="">

  <ul id="navbarul" class="">
    <li><a class="active" routerLink="/">HOMEPAGE</a></li>

    <li><a href="javascript:void(0)">SIGHTS</a>
      <ul>
        <li><a routerLink="/sightsgeo">Geography/Location</a></li>
        <li><a routerLink="/sightslandmarks">Landmarks</a></li>
        <li><a routerLink="/activities">Activities</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">COMMUNITY</a>

      <ul>
        <li><a routerLink="/housing">Housing</a></li>
        <li><a routerLink="/demog">Demographic</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">PLACES</a>
      <ul>
        <li><a routerLink="/parks">Parks</a></li>
        <li><a routerLink="/schools">Schools</a></li>
        <li><a routerLink="/shopdin">Shopping &amp; Dining</a></li>
      </ul>
    </li>

    <li><a routerLink="/transpo">TRANSPORTATION</a></li>

    <li><a routerLink="/contact">CONTACT US</a></li>

  </ul>


</div><!--closingdiv for nav-->
<div id="container">
  <div id="content">
    <hr class="fornav navpagemore">

    <div id="housing">
      <h2>Housing Infomation</h2>
      <p>Ozone Park is mainly a residential area. It is a blue collar community where people tend to remain there their whole lives. Everyone knows each others, and there would be severak generations of families thriving there. Housing options range in different prices, contributing to the economic diversity of the community. Houses are primarily <b>pre-war single</b> or <b>multi-family homes</b>. There are also several <b>Tudor-Style homes.</b> Overall, residents have reported that it is a fairly safe place to live and raise a family. </p>

      <h2>Ozone Park House Gallery</h2>

      <table id="housegallery">
        <tbody><tr>
          <td><img src="assets/images/housegallery1.jpg" alt="house1" width="250px" class="housepic">
            <p class="description">11326 115th St<br>South Ozone Park<br>NY 11420</p>
          </td>

          <td><img src="assets/images/housegallery2.jpg" alt="house1" width="250px" class="housepic">
            <p class="description">11603 111th Ave<br>South Ozone Park<br>NY 11420</p>
          </td>

          <td><img src="assets/images/housegallery3.jpeg" alt="house1" width="250px" class="housepic">
            <p class="description">112-07 109th Ave<br> South Ozone Park<br>NY</p>
          </td>

        </tr>


        <tr>
          <td><img src="assets/images/housegallery4.jpg" alt="house1" width="250px" class="housepic">
            <p class="description">147-11 130th Ave #2<br>South Ozone Park<br>NY</p>
          </td>

          <td><img src="assets/images/housegallery5.jpg" alt="house1" width="250px" class="housepic">
            <p class="description">13526 121 St#2<br>South Ozone Park<br>NY</p>
          </td>

          <td><img src="assets/images/housegallery6.jpeg" alt="house1" width="250px" class="housepic">
            <p class="description">112-08 109th Ave<br>South Ozone Park<br>NY 11420</p>
          </td>

        </tr>

        </tbody></table>


    </div>

    <table id="panel">
      <tbody><tr><td>
        <div id="navigatepage">

          <h2>Where To Find...</h2>
          <h3>Looking for something in particular?</h3>
          <p>Points of Interest:<br><a routerLink="/activities">Check our "Activities Page"</a><br>
            Information on the Geography:<br><a routerLink="/sightsgeo">Check our "Geography/Location Page"</a><br>
            Demographic Information:<br><a routerLink="/demog">Check our "Demographics Page"</a></p><br>
        </div></td></tr>

      <tr><td>
        <div id="funfacttab">
          <h2>Fun Fact About Ozone Park!😀
          </h2><h3>Here are some famous people who lived in Ozone Park! Do you recognize any of them?</h3>

          <h3>
            <ol>
              <li><a href="https://en.wikipedia.org/wiki/Pedro_Beato">Pedro Beato</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Elizabeth_Eden">Elizabeth Eden</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Jack_Lord">Jack Lord</a></li>
            </ol>
          </h3>

        </div>

      </td></tr>


      </tbody></table>
  </div>
</div>
<div id="footer">
  <p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a> </p>
</div><!--div for footer-->
