<div id="masthead">
  <img src="assets/images/logo.png" class="logo" height="100px" alt="logo"><h1>Geography &amp; Location</h1>
</div><!--closing div for masthead-->

<div id="navbar">

  <div id="navbar" class="">

    <ul id="navbarul" class="">
      <li><a class="active" routerLink="/">HOMEPAGE</a></li>

      <li><a href="javascript:void(0)">SIGHTS</a>
        <ul>
          <li><a routerLink="/sightsgeo">Geography/Location</a></li>
          <li><a routerLink="/sightslandmarks">Landmarks</a></li>
          <li><a routerLink="/activities">Activities</a></li>
        </ul>
      </li>

      <li><a href="javascript:void(0)">COMMUNITY</a>

        <ul>
          <li><a routerLink="/housing">Housing</a></li>
          <li><a routerLink="/demog">Demographic</a></li>
        </ul>
      </li>

      <li><a href="javascript:void(0)">PLACES</a>
        <ul>
          <li><a routerLink="/parks">Parks</a></li>
          <li><a routerLink="/schools">Schools</a></li>
          <li><a routerLink="/shopdin">Shopping &amp; Dining</a></li>
        </ul>
      </li>

      <li><a routerLink="/transpo">TRANSPORTATION</a></li>

      <li><a routerLink="/contact">CONTACT US</a></li>

    </ul>


  </div><!--closingdiv for nav-->

</div><!--closingdiv for nav-->
<div id="container">

  <div id="content">

    <hr class="fornav navpagemore">
    <div id="info">
      <div id="geography">
        <h2>Geography</h2>
        <p>This map shows the location of Ozone Park relative to other Queens Neighborhoods. It also shows the various places in Ozone Park such as service areas and parks. Finally, you can observe the terrain of this neighborhood along with human activity. </p>


        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CuXVCd5caC-ZhyjYuD7rDfDjhMmWK1sv" width="640" height="480"></iframe>
      </div>

      <div id="location">
        <br>
        <br>
        <h2>Location</h2>
        <p>This neighborhood is located in the southwestern section of the borough of Queens. It is located next to the Aqueduct Racetrack in South Ozone Park, a popular spot for Thoroughbred racing and home to the Resorts World Casino &amp; Hotel.
        </p><p class="spanint">Area</p>
        <span class="span"><i>City:</i></span><span class="more">New York City</span><br>
        <span class="span"><i>State:</i></span><span class="more"> New York State</span><br>
        <span class="span"><i>Country:</i></span> <span class="more">United States of America</span><br>

        <p class="spanint">Borders</p>
        <span class="span"><i>Nothern:</i></span><span class="more">Atlantic Ave</span><br>
        <span class="span"><i>Southern:</i></span> <span class="more">North Conduit Ave</span><br>
        <span class="span"><i>Western:</i></span><span class="more"> Brooklyn/Queens border line</span><br>
        <span class="span"><i>Eastern</i></span> <span class="more">108th St and Aqueduct Racetracl property line west</span>
        <p></p>


      </div>
    </div><table id="panel">



    <tbody><tr><td><div id="navigatepage">
      <h2>Where To Find...</h2>
      <h3>Looking for something in particular?</h3>
      <p>Points of Interest:<br><a routerLink="/activities">Check our "Activities Page"</a><br>
        Landmarks:<br><a routerLink="/sightslandmarks">Check our "Landmarks Page"</a><br>
      </p>
    </div></td></tr>

    <tr><td><div id="pagestips">
      <h2>Tips for Using this Page</h2>
      <h3>Scroll over the map to get a closer and more detailed look of this neighborhood!</h3>
    </div></td></tr>
    </tbody></table>


  </div><!--div content-->
</div><!--div for container-->
<div id="footer">
  <p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a> </p>
</div><!--div for footer-->
