<div id="masthead">
  <img src="/assets/images/logo.png" class="logo" height="100px" alt="logo">
  <h1>Shopping & Dining</h1>
</div><!--closing div for masthead-->

<div id="navbar" class="">

  <ul id="navbarul" class="">
    <li><a class="active" routerLink="/">HOMEPAGE</a></li>

    <li><a href="javascript:void(0)">SIGHTS</a>
      <ul>
        <li><a routerLink="/sightsgeo">Geography/Location</a></li>
        <li><a routerLink="/sightslandmarks">Landmarks</a></li>
        <li><a routerLink="/activities">Activities</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">COMMUNITY</a>

      <ul>
        <li><a routerLink="/housing">Housing</a></li>
        <li><a routerLink="/demog">Demographic</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">PLACES</a>
      <ul>
        <li><a routerLink="/parks">Parks</a></li>
        <li><a routerLink="/schools">Schools</a></li>
        <li><a routerLink="/shopdin">Shopping &amp; Dining</a></li>
      </ul>
    </li>

    <li><a routerLink="/transpo">TRANSPORTATION</a></li>

    <li><a routerLink="/contact">CONTACT US</a></li>

  </ul>


</div><!--closingdiv for nav-->
<div id="container">
  <div id="content">
    <hr class="fornav">

    <h2 class="landmark">Places to Shop in Ozone Park </h2>

    <div class="commerceblock">
      <h3>Stop &amp; Shop</h3>
      <img src="assets/images/store1.png" alt="stopandshop" width="300px" class="comimage">
      <p><b>Address:</b> 92-10 Atlantic Ave, Queens, NY 11416</p>
      <p>Supermarket chain with house-brand groceries, organics &amp; more. Many have pharmacies.ribed it as clean,
        peaceful, and great for biking. Many have reported being able to use the trail because it supported their
        various skill levels of walking and running.</p>
      <p> Top Review: "services is good, very friendly place."</p>
    </div>

    <div class="commerceblock">
      <h3>Clocktower Plaza</h3>
      <img src="assets/images/store2.jpg" alt="clocktower plaza" width="300px" class="comimage">
      <p><b>Address:</b> 92-10 Atlantic Ave, Queens, NY 11416</p>
      <p>Your favorite mix of shops and dining options in Queens.</p>
      <p> Top Review: "tons of choice and plenty of sales"</p>
    </div>

    <div class="commerceblock">
      <h3>Modell's Sporting Goods</h3>
      <img src="assets/images/store3.png" alt="stopandshop" width="300px" class="comimage">
      <p><b>Address:</b> 94-11 Rockaway Blvd, Ozone Park, NY 11417</p>
      <p>Family-operated chain supplying athletic equipment, footwear &amp; apparel, plus replica jerseys.</p>
      <p> Top Review: "great customer service."</p>
    </div>
    <table id="panel">
      <tbody><tr><td>
        <div id="navigatepage">

          <h2>Where To Find...</h2>
          <h3>Looking for something in particular?</h3>
          <p>Points of Interest:<br><a routerLink="/activities">Check our "Activities Page"</a><br>
            Information on the Geography:<br><a routerLink="/sightsgeo">Check our "Geography/Location Page"</a><br>
            How To Get Around the Neighborhood:<br><a routerLink="/transpo">Check our "Transportation Page"</a></p><br>
        </div></td></tr>

      <tr><td>
        <div id="funfacttab">
          <h2>Tips for Using this Page
          </h2><h3>There are more schools here! To find out more visit <a href="https://en.wikipedia.org/wiki/Ozone_Park,_Queens#Education">here.</a></h3>
        </div>

      </td></tr>


      </tbody></table>

    <div id="shoppingplaces">
      <h2 class="landmark moree">Places to Dine in Ozone Park </h2>

      <div class="commerceblock">
        <h3>Aldo's</h3>
        <p><i>Pizza resturaunt</i></p>
        <img src="assets/images/dining1.jpg" alt="aldo's pizza" width="300px" class="comimage">
        <p><b>Address:</b> 137-01 Cross Bay Blvd, Ozone Park, NY 11417</p>
        <p><a
          href="https://slicelife.com/restaurants/ny/ozone-park/11417/aldo-s-ozone-park/menu?segment_id=e20bedf4-781e-475f-8ffb-845372f0d476&amp;utm_campaign=partner_websites"><span
          class="orderbutton">ORDER</span></a></p>
        <p> Top Review: "a bit pricy, but yummy pizza and good service"</p>
      </div>

      <div class="commerceblock">
        <h3>Hana Asian Bistro</h3>
        <p><i>Asian Restaurant</i></p>
        <img src="assets/images/dining2.jpg" alt="asian bistro" width="300px" class="comimage">
        <p><b>Address:</b> 150-03 Cross Bay Blvd, Ozone Park, NY 11417</p>
        <p><a href="https://ez2eat.com/hanaasianbistro">ORDER</a></p>
        <p> Top Review: "great place for take out."</p>
      </div>

      <div class="commerceblock">
        <h3>Mia Halala Food</h3>
        <p><i>Halal restaurant</i></p>
        <img src="assets/images/dining3.jpg" alt="mia halal" width="300px" class="comimage">
        <p><b>Address:</b> 105-07 Cross Bay Blvd, Ozone Park, NY 11417</p>
        <p><a href="http://www.miahalalfood.com/">ORDER</a></p>
        <p> Top Review: "love this place. waiting everyday for you to reopen."</p>
      </div>
      <div class="commerceblock">
        <h3>Compadres</h3>
        <p><i>Mexican restaurant</i></p>
        <img src="assets/images/dining4.jpg" alt="stopandshop" width="300px" class="comimage">
        <p><b>Address:</b> 92-21 Liberty Ave, Ozone Park, NY 11417</p>
        <p><a href="http://www.mexican-cafe.com/?page_id=326">ORDER</a></p>
        <p> Top Review: "good food quality and service."</p>
      </div>

    </div>




  </div><!--content-->

</div>
<div id="footer">
  <p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a>
  </p>
</div><!--div for footer-->
