
<div id="masthead">
  <img src="/assets/images/logo.png" class="logo" height="100px" alt="logo">
  <h1>Parks</h1>
</div><!--closing div for masthead-->

<div id="navbar" class="">

  <ul id="navbarul" class="">
    <li><a class="active" routerLink="/">HOMEPAGE</a></li>

    <li><a href="javascript:void(0)">SIGHTS</a>
      <ul>
        <li><a routerLink="/sightsgeo">Geography/Location</a></li>
        <li><a routerLink="/sightslandmarks">Landmarks</a></li>
        <li><a routerLink="/activities">Activities</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">COMMUNITY</a>

      <ul>
        <li><a routerLink="/housing">Housing</a></li>
        <li><a routerLink="/demog">Demographic</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">PLACES</a>
      <ul>
        <li><a routerLink="/parks">Parks</a></li>
        <li><a routerLink="/schools">Schools</a></li>
        <li><a routerLink="/shopdin">Shopping &amp; Dining</a></li>
      </ul>
    </li>

    <li><a routerLink="/transpo">TRANSPORTATION</a></li>

    <li><a routerLink="/contact">CONTACT US</a></li>

  </ul>


</div><!--closingdiv for nav-->
<div id="container">
  <div id="content">
    <hr class="fornav">

    <h2 class="landmark">Public Parks in Ozone Park</h2>

    <div class="landmarkblock parkblock">
      <h3>Centreville Playground</h3>
      <img src="assets/images/parks1.jpg" alt="reservior" width="350px" class="parkimg">
      <p>Top Review:"very clean" </p>
      <p>Phone: (212) 639-9675</p>
      <p><b>Address:</b><br>Centreville St<br> Ozone Park<br>Robinson Pkwy <br>NY 11417</p>
    </div>

    <div class="landmarkblock parkblock">
      <h3>Vito Locascio Field</h3>
      <img src="assets/images/parks2.jpg" alt="hall" width="350px" class="parkimg">
      <p>Top Review: "great place for food and atmosphere"</p>
      <p>Phone: (212) 639-9675</p>
      <p><b>Address:</b><br>N Conduit Ave<br> Ozone Park<br>NY 11417</p>

    </div>
    <div class="landmarkblock parkblock">
      <h3>Ampere Playground</h3>
      <img src="assets/images/parks3.jpg" alt="expwy" width="350px" class="parkimg">
      <p>Top Review: "nice clean environment to bring your kids and family"</p>
      <p>Phone: (212) 639-9675</p>
      <p><b>Address:</b><br>82nd St.<br>Ozone Park <br>NY 11416</p>
    </div>
    <div class="landmarkblock parkblock">
      <h3>Corporal Ruoff Square</h3>
      <img src="assets/images/park4.jpg" alt="hall" width="350px" class="parkimg">
      <p>Top Review: N/A </p>
      <p>Phone: (212) 639-9675</p>
      <p><b>Address:</b><br>94-11 Rockaway Blvd.<br>Ozone Park <br>NY 11417</p>

    </div>
    <div class="landmarkblock parkblock">
      <h3>Tudor Park</h3>
      <img src="assets/images/park5.jpg" alt="expwy" width="350px" class="parkimg">
      <p>Top Review: "always clean, nice people"</p>
      <p>Phone: (212) 639-9675</p>
      <p><b>Address:</b><br>82nd St. &amp; 133rd Ave<br>Ozone Park<br>NY 11417</p>
    </div>

    <table id="panel">
      <tbody><tr><td>
        <div id="navigatepage">

          <h2>Where To Find...</h2>
          <h3>Looking for something in particular?</h3>
          <p>Points of Interest:<br><a routerLink="/activities">Check our "Activities Page"</a><br>
            Houses Nearby:<br><a routerLink="/housing">Check our "Housing Page"</a><br>
            Landmarks:<br><a routerLink="/sightslandmarks">Check our "Landmarks"</a></p><br>
        </div></td></tr>

      <tr><td>
        <div id="funfacttab">
          <h2>Fun Fact About Ozone Park!😀
          </h2><h3>Corporal Ruoff Square is named in honor of the first resident of Ozone Park to be killed in action during World War 1!</h3>


        </div>

      </td></tr>


      </tbody></table>

  </div><!--content-->

</div>
<div id="footer">
  <p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a> </p>
</div><!--div for footer-->
