
<div id="masthead">
  <img src="/assets/images/logo.png" class="logo" height="100px" alt="logo">
  <h1>Schools</h1>
</div><!--closing div for masthead-->

<div id="navbar" class="">

  <ul id="navbarul" class="">
    <li><a class="active" routerLink="/">HOMEPAGE</a></li>

    <li><a href="javascript:void(0)">SIGHTS</a>
      <ul>
        <li><a routerLink="/sightsgeo">Geography/Location</a></li>
        <li><a routerLink="/sightslandmarks">Landmarks</a></li>
        <li><a routerLink="/activities">Activities</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">COMMUNITY</a>

      <ul>
        <li><a routerLink="/housing">Housing</a></li>
        <li><a routerLink="/demog">Demographic</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">PLACES</a>
      <ul>
        <li><a routerLink="/parks">Parks</a></li>
        <li><a routerLink="/schools">Schools</a></li>
        <li><a routerLink="/shopdin">Shopping &amp; Dining</a></li>
      </ul>
    </li>

    <li><a routerLink="/transpo">TRANSPORTATION</a></li>

    <li><a routerLink="/contact">CONTACT US</a></li>

  </ul>


</div><!--closingdiv for nav-->
<div id="container">
  <div id="content">
    <hr class="fornav">


    <h2 id="landmark">Schools in Ozone Park </h2>

    <div class="commerceblock">
      <h3>PS 63 Old South School</h3>
      <img src="assets/images/school1.jpg" alt="PS 63" width="300px" class="landimg">
      <p>Grades Pre-K to 5, and special edication</p>
      <p><b>School Number:</b> Q063</p>
      <p><b>Address:</b><br>90-16 Sutter Avenue <br> Queens <br>NY 11417</p>
    </div>

    <div class="commerceblock">
      <h3>PS 316 Queens Explorers Elementary </h3>
      <img src="assets/images/school2.jpg" alt="PS 316" width="300px" class="landimg">
      <p>Grades Pre-K to 5, and special education</p>
      <p><b>School Number:</b> Q316</p>
      <p><b>Address:</b><br>90-07 101st Ave<br> Queens<br>NY 11416</p>

    </div>
    <div class="commerceblock">
      <h3>St Elizabeth's RC Elementary</h3>
      <img src="assets/images/school3.jpg" alt="SERE" width="300px" class="landimg">
      <p>Private/Catholic School. Serves from nursey age to eighth grade</p>
      <p><b>Address:</b><br>94-01 85th Street <br>Ozone Park <br>NY 11416</p>
    </div>

    <table id="panel">
      <tbody><tr><td>
        <div id="navigatepage">

          <h2>Where To Find...</h2>
          <h3>Looking for something in particular?</h3>
          <p>Points of Interest:<br><a routerLink="/activities">Check our "Activities Page"</a><br>
            Information on the Geography:<br><a routerLink="/sightsgeo">Check our "Geography/Location Page"</a><br>
            How To Get Around the Neighborhood:<br><a routerLink="/transpo">Check our "Transportation Page"</a></p><br>
        </div></td></tr>

      <tr><td>
        <div id="funfacttab">
          <h2>Tips for Using this Page
          </h2><h3>There are more schools here! To find out more visit <a href="https://en.wikipedia.org/wiki/Ozone_Park,_Queens#Education">here.</a></h3>
        </div>

      </td></tr>


      </tbody></table>

  </div><!--content-->

</div>
<div id="footer">
  <p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a> </p>
</div><!--div for footer-->
