<div id="masthead">
  <img src="/assets/images/logo.png" class="logo" height="100px" alt="logo">
  <h1>Landmarks</h1>
</div><!--closing div for masthead-->

<div id="navbar" class="">

  <ul id="navbarul" class="">
    <li><a class="active" routerLink="/">HOMEPAGE</a></li>

    <li><a href="javascript:void(0)">SIGHTS</a>
      <ul>
        <li><a routerLink="/sightsgeo">Geography/Location</a></li>
        <li><a routerLink="/sightslandmarks">Landmarks</a></li>
        <li><a routerLink="/activities">Activities</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">COMMUNITY</a>

      <ul>
        <li><a routerLink="/housing">Housing</a></li>
        <li><a routerLink="/demog">Demographic</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">PLACES</a>
      <ul>
        <li><a routerLink="/parks">Parks</a></li>
        <li><a routerLink="/schools">Schools</a></li>
        <li><a routerLink="/shopdin">Shopping &amp; Dining</a></li>
      </ul>
    </li>

    <li><a routerLink="/transpo">TRANSPORTATION</a></li>

    <li><a routerLink="/contact">CONTACT US</a></li>

  </ul>


</div><!--closingdiv for nav-->
<div id="container">
  <div id="content">
    <hr class="fornav">

    <h2 class="landmark">Landmarks and Historical Buildings near Ozone Park </h2>

    <div class="landmarkblock">
      <h3>Rigewood Reservior</h3>
      <img src="assets/images/reservior.jpg" alt="reservior" width="350px" class="landimg">
      <p>A 2.3 mile lightly trafficked loop trail, located near Ozone Park, New York City, NY. It features a lake. The trail is suitable for all activities such as dog-walking, although primarily used for running and walking. </p>
      <p>Vistors have described it as clean, peaceful, and great for biking. Many have reported being able to use the trail because it supported their various skill levels of walking and running.</p>
      <p><b>Location:</b><br>West Of Cypress Hills<br> St/South Of Jackie <br>Robinson Pkwy <br>New York, NY 11385</p>
    </div>

    <div class="landmarkblock">
      <h3>Queens Borough Hall</h3>
      <img src="assets/images/hall.jpg" alt="hall" width="350px" class="landimg">
      <p>A historical and public building in the Kew Gardens neighborhood (near Ozone Park). It was designed by architechs William Gehron and Andrew J. Thomas and was completed in 1940. It was designed to serve as the center of civic life and now has become a popular spot for marriages.</p>
      <p>Vistors have described the people and staff as helpful and effecient.</p>
      <p><b>Location:</b><br>120-55 Queens Blvd<br> Kew Gardens <br>NY 11415</p>

    </div>
    <div class="landmarkblock">
      <h3>Van Wyck Expressway</h3>
      <img src="assets/images/vanwyck.jpg" alt="expwy" width="350px" class="landimg">
      <p>A road highway that connects John F. Kennedy Airport and the Whitestone Expressway and the Brox Whitestone Bridge further north. It was constructed between 1947 and 1963 and it was named after the first mayor of the unified New York City, Robert C. Van Wyck.</p>
      <p>Being one of the not so popular areas to visit, visitors have described this place as slow during non-peak hours. </p>
      <p><b>Location:</b><br>105-32 Van Wyck Expy<br>Queens <br>NY 11419</p>
    </div>
    <table id="panel">
      <tbody><tr><td>
        <div id="navigatepage">

          <h2>Where To Find...</h2>
          <h3>Looking for something in particular?</h3>
          <p>Points of Interest:<br><a routerLink="/activities">Check our "Activities Page"</a><br>
            Information on the Geography:<br><a routerLink="/sightsgeo">Check our "Geography/Location Page"</a><br>
            Famous People from the Area:<br><a routerLink="/housing">Check our "Housing Page"</a></p><br>
        </div></td></tr>

      <tr><td>
        <div id="funfacttab">
          <h2>Fun Fact About Ozone Park!😀
          </h2><h3>The structure of the Queens Borough Hall won a design award from the Queens Center Chamber of Commerce.</h3>


        </div>

      </td></tr>


      </tbody></table>




  </div><!--content-->

</div>
<div id="footer">
  <p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a>
  </p>
</div><!--div for footer-->
