<div id="masthead">
  <img src="/assets/images/logo.png" class="logo" height="100px" alt="logo">
  <h1>Activities</h1>
</div><!--closing div for masthead-->

<div id="navbar" class="">

  <ul id="navbarul" class="">
    <li><a class="active" routerLink="/">HOMEPAGE</a></li>

    <li><a href="javascript:void(0)">SIGHTS</a>
      <ul>
        <li><a routerLink="/sightsgeo">Geography/Location</a></li>
        <li><a routerLink="/sightslandmarks">Landmarks</a></li>
        <li><a routerLink="/activities">Activities</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">COMMUNITY</a>

      <ul>
        <li><a routerLink="/housing">Housing</a></li>
        <li><a routerLink="/demog">Demographic</a></li>
      </ul>
    </li>

    <li><a href="javascript:void(0)">PLACES</a>
      <ul>
        <li><a routerLink="/parks">Parks</a></li>
        <li><a routerLink="/schools">Schools</a></li>
        <li><a routerLink="/shopdin">Shopping &amp; Dining</a></li>
      </ul>
    </li>

    <li><a routerLink="/transpo">TRANSPORTATION</a></li>

    <li><a routerLink="/contact">CONTACT US</a></li>

  </ul>


</div><!--closingdiv for nav-->
<div id="container">
  <div id="content">
    <div class="vl4"> </div>

    <hr class="fornav">


    <h2 id="activ">Fun Activities to do in/near Ozone Park </h2>



    <div class="activityblock">
      <p class="activitytitle">PRO LINE ARCHERY LANES</p>


      <img src="assets/images/archery1.jpg" width="250px" height="250px" alt="acherypic1" class="activityimg">
      <img src="assets/images/archery2.jpg" width="250px" height="250px" alt="acherypic2" class="activityimg">
      <img src="assets/images/archery3.jpg" width="250px" height="250px" alt="acherypic3" class="activityimg">


      <h3></h3>
      <ul>
        <li class="activityrating">RATING: 4.5</li></ul>
      <p class="activitycontent">Pro Archery Lanes has been around since the mid 70s. It had been originally organized as a place for archers to get together and enjoy a game of archery. Overtime, it has grown into a family oriented business that is open to the general public.</p>
      <p class="activitycontent">This particular location is one of the most popular places to visit for a fun activity in Ozone Park. Vistitors describe the place as safe, suitable for all levels and ages, and with friendly staff.</p><br>
      <p class="activitycontent"><b>Location:</b><br>95-11 101st Ave<br>Fl 2<br>Ozone Park, NY 11416</p>
      <p class="activitycontent">For more information visit: <a href="http://prolinearchery.com/about-us/"> prolinearchery.com</a></p>

    </div>



    <div class="activityblock">
      <p class="activitytitle">QUEENS ZOO</p>


      <img src="assets/images/zoo1.jpg" width="250px" height="250px" alt="zoopic1" class="activityimg">
      <img src="assets/images/zoo2.jpg" width="250px" height="250px" alt="zoopic2" class="activityimg">
      <img src="assets/images/zoo3.jpg" width="250px" height="250px" alt="zoopic3" class="activityimg">


      <h3></h3>
      <ul>
        <li class="activityrating">RATING: 4</li></ul>
      <p class="activitycontent">If you are looking for a fun, yet educational place to learn about wildlife and nature then the Queens Zoo is perfect for you. It is an 18-acre zoo with 75+ species of animals and plants. There are several programs for differnt groups. This is includes but is not limited to: Aldult Programs, Youth and Young Adults, and Children and Family Programs. </p>
      <p class="activitycontent">This particular location is one of the most popular places to visit for a fun activity in Ozone Park, especially if you want to entertain children. Vistitors describe this place as entertaining and educational. </p><br>
      <p class="activitycontent"><b>Location:</b><br>5351 11th St<br>Corona, NY 11368<br></p>
      <p class="activitycontent"> For more information visit: <a href="https://queenszoo.com/learn">queenszoo.com</a></p>

    </div>

    <div class="activityblock">
      <p class="activitytitle">LASER BOUNCE</p>


      <img src="assets/images/laser1.jpg" width="250px" height="250px" alt="laserpic1" class="activityimg">
      <img src="assets/images/laser2.jpg" width="250px" height="250px" alt="laserpic2" class="activityimg">
      <img src="assets/images/laser3.jpg" width="250px" height="250px" alt="laserpic3" class="activityimg">


      <h3></h3>
      <ul>
        <li class="activityrating">RATING: 4</li></ul>
      <p class="activitycontent">One of the most popular places to visit for some family fun is Laser Bounce. There are plenty of games and courses in this place for a day filled with fun. It even hosts parties that are fun for kids of all ages. </p>
      <p class="activitycontent">Visitors describe this place as ideal for parties, with friendly and attentive staff. </p><br>
      <p class="activitycontent"><b>Location:</b><br>80-28<br>Glendale, NY 11385<br></p>
      <p class="activitycontent"> For more information visit: <a href="https://laserbounce.com/">laserbounce.com</a></p>

    </div>


    <table id="panel">
      <tbody><tr><td><div id="navigatepage">
        <h2>Where To Find...</h2>
        <h3>Looking for something in particular?</h3>
        <p>Popular Places to Shop and Dine:<br><a routerLink="/shopdin">Check our "Shopping &amp; Dining Page"</a><br>
          Landmarks:<br><a routerLink="/sightslandmarks">Check our "Landmarks Page"</a><br>
        </p>
      </div></td></tr>

      <tr><td>
        <div id="funfacttab">
          <h2>Fun Fact About Ozone Park!😀
          </h2><h3>The structure of the Queens Borough Hall won a design award from the Queens Center Chamber of Commerce.</h3>


        </div>

      </td></tr>

      </tbody></table>

  </div>

</div>
<div id="footer">
  <p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a>
  </p>
</div><!--div for footer-->
